<!-- Core js-->
<script src="<%= resourceUrl('/bower_components/jquery/dist/jquery.js') %>"></script>
<script src="<%= resourceUrl('/js/jquery-ui/jquery-ui-1.10.1.custom.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/jsrender/jsrender.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/bootstrap/dist/js/bootstrap.min.js') %>"></script>

<script src="<%= resourceUrl('/bower_components/jquery.scrollTo/jquery.scrollTo.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/slimScroll/jquery.slimscroll.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/jquery.nicescroll/jquery.nicescroll.min.js') %>"></script>

<!-- chart -->
<script src="<%= resourceUrl('/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/morris.js/morris.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/raphael/raphael-min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/Chart.js/Chart.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/d3/d3.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/c3/c3.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/numeral/numeral.js') %>"></script>

<!--iCheck-->
<script src="<%= resourceUrl('/bower_components/iCheck/icheck.min.js') %>"></script>
<!--iron RangeSlider-->
<script src="<%= resourceUrl('/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js') %>" type="text/javascript"></script>

<!--dynamic table-->
<script src="<%= resourceUrl('/bower_components/datatables/media/js/jquery.dataTables.min.js') %>"></script>
<script src="<%= resourceUrl('/js/DT_bootstrap.js') %>"></script>

<script src="<%= resourceUrl('/js/scripts.js') %>"></script>

<script id="textDataTmpl" type="text/x-jsrender">
    <span>{{:data}}</span>
</script>

<script id="plainDataTmpl" type="text/x-jsrender">
{{:data}}
</script>

<script>
    var template = $.templates("#textDataTmpl");
    var plainTemplate = $.templates("#plainDataTmpl");
    $.ajax({
        url:'/api/project/<%= data.id %>',
        success:function(data){
            var htmlOutput = plainTemplate.render({data:data.title});
            $("#load_title").html(htmlOutput);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            var data = {data:'<i class="fa fa-exclamation-triangle"></i>'};
            var htmlOutput = plainTemplate.render(data);
            $("#load_title").html(htmlOutput);
        }
    });
    $.ajax({
        url:'/api/project/<%= data.id %>/error/<%= data.eid %>',
        success:function(data){
            var ec = data.numofinstances;
            // update error status
            $("#load_status").val(data.status);
            // instancecount
            var plain = plainTemplate.render({data:numeral(ec).format('0,0')});
            $("#load_errorcount").replaceWith(plain);
            // errorname
            plain = plainTemplate.render({data:data.errorname});
            $("#load_errorname").html(plain);
            // errorclass
            plain = plainTemplate.render({data:data.errorclassname+':'+data.linenum});
            $("#load_errorclass").html(plain);
            // errorcreated
            plain = plainTemplate.render({data:data.create_date});
            $("#load_errorcreated").html(plain);
            // errorupdated
            plain = plainTemplate.render({data:data.update_date});
            $("#load_errorupdated").html(plain);
            // memory
            var t = template.render({data:numeral(data.totalmemusage*1000).format('0.00b')});
            $("#load_memory").html(t);
            // gps
            t = template.render({data:numeral(data.gpson/ec).format('0.0%')});
            $("#load_gps").html(t);
            // wifi
            t = template.render({data:numeral(data.wifion/ec).format('0.0%')});
            $("#load_wifi").html(t);
            // mobile
            t = template.render({data:numeral(data.mobileon/ec).format('0.0%')});
            $("#load_mobilenetwork").html(t);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            // no dependency
            $("#load_errorcount").attr('class','fa fa-exclamation-triangle');
            // dependency
            var data = {data:'<i class="fa fa-exclamation-triangle"></i>'};
            var t1 = plainTemplate.render(data);
            var t2 = template.render(data);
            $("#load_memory").html(t1);
            $("#load_gps").html(t1);
            $("#load_wifi").html(t1);
            $("#load_mobilenetwork").html(t1);
            $("#load_errorname").html(t2);
            $("#load_errorclass").html(t2);
            $("#load_errorcreated").html(t2);
            $("#load_errorupdated").html(t2);
        }
    });
</script>