<!-- Core js-->
<script src="<%= resourceUrl('/bower_components/jquery/dist/jquery.js') %>"></script>
<script src="<%= resourceUrl('/js/jquery-ui/jquery-ui-1.10.1.custom.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/jsrender/jsrender.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/bootstrap/dist/js/bootstrap.min.js') %>"></script>

<script src="<%= resourceUrl('/bower_components/jquery.scrollTo/jquery.scrollTo.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/slimScroll/jquery.slimscroll.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/jquery.nicescroll/jquery.nicescroll.min.js') %>"></script>

<!-- chart -->
<!-- Sankey Diagram -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<!-- Morris -->
<script src="<%= resourceUrl('/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/morris.js/morris.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/raphael/raphael-min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/Chart.js/Chart.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/d3/d3.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/c3/c3.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/numeral/numeral.js') %>"></script>

<!--flot chart -->
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="<%= resourceUrl('bower_components/flot/excanvas.min.js') %>"></script><![endif]-->
<script src="<%= resourceUrl('/bower_components/flot/jquery.flot.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/flot/jquery.flot.time.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/flot/jquery.flot.resize.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/flot/jquery.flot.pie.js') %>"></script>

<!--iCheck-->
<script src="<%= resourceUrl('/bower_components/iCheck/icheck.min.js') %>"></script>
<!--iron RangeSlider-->
<script src="<%= resourceUrl('/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js') %>" type="text/javascript"></script>

<!--dynamic table-->
<script src="<%= resourceUrl('/bower_components/datatables/media/js/jquery.dataTables.min.js') %>"></script>
<script src="<%= resourceUrl('/js/DT_bootstrap.js') %>"></script>

<script src="<%= resourceUrl('/js/scripts.js') %>"></script>

<script id="textDataTmpl" type="text/x-jsrender">
    <span>{{:data}}</span>
</script>

<script id="plainDataTmpl" type="text/x-jsrender">
{{:data}}
</script>

<script id="progressTmpl" type="text/x-jsrender">
    <div class="content-row">
        <p>{{:data}}</p>
        <div>
            <div class="progress progress-xs">
                <div style="width: {{:p}}%" aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress-bar progress-bar-{{:c}}">
                    <span class="sr-only">{{:p}}%</span>
                </div>
            </div>
            <div>{{:p}}%</div>
        </div>
    </div>
</script>

<script id="callstackTmpl" type="text/x-jsrender">
    <tr>
    <td class="bold">{{:line}}</td>
    <td class="table-text-ellipsis-1"><div>{{:data}}</div></td>
    </tr>
</script>

<script id="instanceTmpl" type="text/x-jsrender">
    <tr>
        <td>{{:data.appversion}}</td>
        <td>{{:data.country}}</td>
        <td>{{:data.device}}</td>
        <td>{{:data.osversion}}</td>
        <td><i class="{{:data.wifion}}" style="font-size:120%"></i></td>
        <td><i class="{{:data.mobileon}}" style="font-size:120%"></i></td>
        <td onclick="alert('준비중입니다.')"><i class="fa fa-exclamation-triangle"></i></td>
        <td style="cursor:pointer" onclick="openDetails('dv_{{:data.id}}')"><i id="dv_{{:data.id}}_i" class="fa fa-chevron-down"></i></td>
    </tr>
    <tr id="dv_{{:data.id}}" style="display:none">
        <td colspan="8">
            <form class="form-horizontal bucket-form" method="get">
                <div class="form-group">
                    <label class="col-xs-3 col-sm-3 control-label">App Version</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">{{:data.appversion}}</p>
                    </div>
                    <label class="col-xs-3 col-sm-3 control-label">OS Version</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">{{:data.osversion}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-3 control-label">Device</label>
                        <div class="col-xs-3 col-sm-3">
                            <p class="form-control-static text-ellipsis">{{:data.device}}</p>
                        </div>
                    <label class="col-xs-3 col-sm-3 control-label">Carrier</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">{{:data.carrier_name}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-3 control-label">Country</label>
                        <div class="col-xs-3 col-sm-3">
                            <p class="form-control-static text-ellipsis">{{:data.country}}</p>
                        </div>
                        <label class="col-xs-3 col-sm-3 control-label">Locale</label>
                        <div class="col-xs-3 col-sm-3">
                            <p class="form-control-static text-ellipsis">{{:data.locale}}</p>
                        </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-3 control-label">GPS</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">
                            <i class="{{:data.gpson}}" style="font-size:120%"></i>
                        </p>
                    </div>
                    <label class="col-xs-3 col-sm-3 control-label">Battery</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">{{:data.batterylevel}}%</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-3 control-label">Wifi</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">
                            <i class="{{:data.wifion}}" style="font-size:120%"></i>
                        </p>
                    </div>
                    <label class="col-xs-3 col-sm-3 control-label">Mobile Network</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">
                            <i class="{{:data.mobileon}}" style="font-size:120%"></i>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-3 control-label">Screen (w | h)</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">{{:data.scrwidth}} X {{:data.scrheight}}</p>
                    </div>
                    <label class="col-xs-3 col-sm-3 control-label">DPI (x | y)</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">{{:data.xdpi}} x {{:data.ydpi}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-3 control-label">Created Date</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">{{:data.datetime}}</p>
                    </div>
                    <label class="col-xs-3 col-sm-3 control-label">Memory Available</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">{{:data.appmemfree}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-3 control-label">Memory Total</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">{{:data.appmemtotal}}</p>
                    </div>
                    <label class="col-xs-3 col-sm-3 control-label">Memory Max</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">{{:data.appmemmax}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-3 control-label">Instance ID</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">{{:data.id}}</p>
                    </div>
                    <label class="col-xs-3 col-sm-3 control-label">SDK Version</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">{{:data.sdkversion}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-3 control-label">Screen Orientation</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">{{:data.scrorientation}}</p>
                    </div>
                    <label class="col-xs-3 col-sm-3 control-label">Rooted</label>
                    <div class="col-xs-3 col-sm-3">
                        <p class="form-control-static text-ellipsis">
                            <i class="{{:data.rooted}}" style="font-size:120%"></i>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-3 control-label">Last Activity</label>
                    <div class="col-xs-9 col-sm-9">
                        <p class="form-control-static text-ellipsis">{{:data.lastactivity}}</p>
                    </div>
                </div>
            </form>
        </td>
    </tr>
</script>

<script>
    <!-- Sankey Diagram -->
    google.load("visualization", "1.1", {packages:["sankey"]});
    google.setOnLoadCallback(drawChart);

    function drawChart(rows) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'From');
        data.addColumn('string', 'To');
        data.addColumn('number', 'Weight');
        data.addRows(rows);

        // Sets chart options.

        var colors = ['#a6cee3', '#b2df8a', '#fb9a99', '#fdbf6f',
            '#cab2d6', '#ffff99', '#1f78b4', '#33a02c'];

        var options = {

            width: 900,
            sankey: { node: { width: 5 } },
        };

        // Instantiates and draws our chart, passing in some options.
        var chart = new google.visualization.Sankey(document.getElementById('sankey_basic'));
        chart.draw(data, options);
    }

    var template = $.templates("#textDataTmpl");
    var plainTemplate = $.templates("#plainDataTmpl");
    var progressTemplate = $.templates("#progressTmpl");
    var callstackTemplate = $.templates("#callstackTmpl");
    var instanceTemplate = $.templates("#instanceTmpl");
    $.ajax({
        url:'/api/project/<%= data.id %>',
        success:function(data){
            var htmlOutput = plainTemplate.render({data:data.name});
            $("#load_title").html(htmlOutput);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            var data = {data:'<i class="fa fa-exclamation-triangle"></i>'};
            var htmlOutput = plainTemplate.render(data);
            $("#load_title").html(htmlOutput);
        }
    });
    $.ajax({
        url:'/api/project/<%= data.id %>/error/<%= data.eid %>',
        success:function(data){
            var ec = data.numofinstances;
            // update error status
            $("#load_status").val(data.status);
            // instancecount
            var plain = plainTemplate.render({data:numeral(ec).format('0,0')});
            $("#load_errorcount").replaceWith(plain);
            // errorname
            plain = plainTemplate.render({data:data.errorname});
            $("#load_errorname").html(plain);
            // errorclass
            plain = plainTemplate.render({data:data.errorclassname+':'+data.linenum});
            $("#load_errorclass").html(plain);
            // errorcreated
            plain = plainTemplate.render({data:data.create_date});
            $("#load_errorcreated").html(plain);
            // errorupdated
            plain = plainTemplate.render({data:data.update_date});
            $("#load_errorupdated").html(plain);
            // memory
            var t = template.render({data:data.totalmemusage + 'MB'});
            $("#load_memory").html(t);
            // gps
            t = template.render({data:numeral(data.gpson/ec).format('0.0%')});
            $("#load_gps").html(t);
            // wifi
            t = template.render({data:numeral(data.wifion/ec).format('0.0%')});
            $("#load_wifi").html(t);
            // mobile
            t = template.render({data:numeral(data.mobileon/ec).format('0.0%')});
            $("#load_mobilenetwork").html(t);
            // rank
            var rs = $("#load_rank").attr('style');
            var color = '';
            if(data.rank == 0){ // Unhandle
                color = '#D9DD81';
            } else if(data.rank == 1){ // Native
                color = '#4D5460';
            } else if(data.rank == 2){ // Critical
                color = '#E67A77';
            } else if(data.rank == 3){ // Major
                color = '#79D1CF';
            } else { // Minor || Else
                color = '#95D7BB';
            }
            $("#load_rank").attr('style', rs + 'background:' + color + ';');
        },
        error: function(jqXHR, textStatus, errorThrown) {
            // no dependency
            $("#load_errorcount").attr('class','fa fa-exclamation-triangle');
            // dependency
            var data = {data:'<i class="fa fa-exclamation-triangle"></i>'};
            var t1 = plainTemplate.render(data);
            var t2 = template.render(data);
            $("#load_memory").html(t1);
            $("#load_gps").html(t1);
            $("#load_wifi").html(t1);
            $("#load_mobilenetwork").html(t1);
            $("#load_errorname").html(t2);
            $("#load_errorclass").html(t2);
            $("#load_errorcreated").html(t2);
            $("#load_errorupdated").html(t2);
        }
    });
    $.ajax({
        url:'/api/project/<%= data.id %>/error/<%= data.eid %>/callstack',
        success:function(data){
            for(var i=0;i<data.length;i++){
                if(data[i]!=''){
                    var t = callstackTemplate.render({line:i, data:data[i]});
                    $("#load_callstacks").append(t);
                }
            }
            $("#load_status_callstack").remove();
        },
        error: function(jqXHR, textStatus, errorThrown) {
            $("#load_status_callstack").attr('class','fa fa-exclamation-triangle');
        }
    });
    $.ajax({
        url:'/api/project/<%= data.id %>/error/<%= data.eid %>/statistics',
        success:function(data){
            var t;
            for(var i in data.appversion_counts){
                t = progressTemplate.render({data:data.appversion_counts[i].appversion, p:data.appversion_counts[i].count, c:getIndexStatus(i)});
                $("#load_statistics_appv").append(t);
            }
            for(var i in data.sdkversion_counts){
                t = progressTemplate.render({data:data.sdkversion_counts[i].osversion, p:data.sdkversion_counts[i].count, c:getIndexStatus(i)});
                $("#load_statistics_osv").append(t);
            }
            for(var i in data.device_counts){
                t = progressTemplate.render({data:data.device_counts[i].device, p:data.device_counts[i].count, c:getIndexStatus(i)});
                $("#load_statistics_device").append(t);
            }
            for(var i in data.country_counts){
                t = progressTemplate.render({data:data.country_counts[i].country, p:data.country_counts[i].count, c:getIndexStatus(i)});
                $("#load_statistics_country").append(t);
            }
            $("#load_status_statistics").remove();
        },
        error: function(jqXHR, textStatus, errorThrown) {
            $("#load_status_statistics").attr('class','fa fa-exclamation-triangle');
        }
    });
    $.ajax({
        url:'/api/project/<%= data.id %>/error/<%= data.eid %>/instances',
        success:function(data){
            var o;
            for(var i in data){
                data[i].wifion = getStatusIcon(data[i].wifion);
                data[i].mobileon = getStatusIcon(data[i].mobileon);
                data[i].gpson = getStatusIcon(data[i].gpson);
                data[i].rooted = getStatusIcon(data[i].rooted);
                data[i].scrorientation = getScreenStatus(data[i].scrorientation);
                o = instanceTemplate.render({data:data[i]});
                $("#load_instances").append(o);
            }
            $("#load_status_instance").remove();
        },
        error: function(jqXHR, textStatus, errorThrown) {
            $("#load_status_instance").attr('class','fa fa-exclamation-triangle');
        }
    });
    // Graph
    $(document).ready(function () {
        if ($.fn.plot) {
            var options = {
                grid: {
                    backgroundColor: {
                        colors: ["#fff", "#fff"]
                    },
                    borderWidth: 0,
                    borderColor: "#f0f0f0",
                    margin: 0,
                    minBorderMargin: 0,
                    labelMargin: 20,
                    hoverable: true,
                    clickable: true
                },
                tooltip: true,
                tooltipOpts: {
                    content: "날짜: %x 에러 수: %y",
                    shifts: {
                        x: -60,
                        y: 25
                    },
                },
                legend: {
                    labelBoxBorderColor: "#ccc",
                    show: false,
                    noColumns: 0
                },
                series: {
                    stack: true,
                    shadowSize: 0,
                    highlightColor: 'rgba(30,120,120,.5)'
                },
                xaxis: {
                    mode : 'time',
                    type : 'timeseries',
                    timeformat: "%m/%d",
                    minTickSize: [1, "day"],
                    show: true,
                    font: {
                        style: "normal",
                        color: "#666666"
                    }
                },
                yaxis: {
                    ticks: 3,
                    tickDecimals: 0,
                    min: 0,
                    show: true,
                    tickColor: "#f0f0f0",
                    font: {
                        style: "normal",
                        color: "#666666"
                    }
                },
                points: {
                    show: true,
                    radius: 2,
                    symbol: "circle"
                },
                colors: ["#87cfcb", "#48a9a7"]
            };
            $.ajax({
                url:'/api/project/'+urqaio.currentProject+'/error/<%= data.eid %>/daily',
                success:function(data){
                    var d = ([{
                        label: "Too",
                        data: data,
                        lines: {
                            show: true,
                            fill: true,
                            lineWidth: 2,
                            fillColor: {
                                colors: ["rgba(255,255,255,.1)", "rgba(160,220,220,.8)"]
                            }
                        }
                    }]);
                    var plot = $.plot($('#error-history-graph'), d, options);
                    $("#load_frequency").remove();
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // no dependency
                    $("#load_frequency").attr('class','fa fa-exclamation-triangle');
                }
            });
        }

        $.ajax({
            url:'/api/project/'+urqaio.currentProject+'/error/<%= data.eid %>/eventpath',
            success:function(data) {
                console.log(JSON.stringify(data));
                drawChart(data);
            },error: function(jqXHR, textStatus, errorThrown) {
            }
        });
    });

    function getIndexStatus(i){
        if(i==0){
            return 'danger';
        }else if(i==1){
            return 'warning';
        }
        return 'info';
    }

    function getScreenStatus(i){
        if(i == 0 || i == 2){
            return 'Portrait';
        }else{
            return 'Landscape';
        }
    }

    function getStatusIcon(i){
        if(i==1){
            return 'fa fa-check-circle text-success';
        }else{
            return 'fa fa-times-circle text-danger';
        }
    }

    function openDetails(e){
        var attr = $("#"+e).attr('style');
        if(attr){
            $("#"+e).removeAttr('style');
            $("#"+e+"_i").attr('class','fa fa-chevron-up');
        } else {
            $("#"+e).attr('style','display:none');
            $("#"+e+"_i").attr('class','fa fa-chevron-down');
        }
    }



</script>