<!-- Core js-->
<script src="<%= resourceUrl('/bower_components/jquery/dist/jquery.js') %>"></script>
<script src="<%= resourceUrl('/js/jquery-ui/jquery-ui-1.10.1.custom.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/jsrender/jsrender.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/bootstrap/dist/js/bootstrap.min.js') %>"></script>

<script src="<%= resourceUrl('/bower_components/jquery.scrollTo/jquery.scrollTo.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/slimScroll/jquery.slimscroll.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/jquery.nicescroll/jquery.nicescroll.min.js') %>"></script>

<!-- chart -->
<script src="<%= resourceUrl('/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/morris.js/morris.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/raphael/raphael-min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/Chart.js/Chart.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/d3/d3.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/c3/c3.min.js') %>"></script>
<script src="<%= resourceUrl('/js/jvector-map/jqvmap/jquery.vmap.js') %>"></script>
<script src="<%= resourceUrl('/js/jvector-map/jqvmap/maps/jquery.vmap.world.js')%>"></script>

<!--iCheck-->
<script src="<%= resourceUrl('/bower_components/iCheck/icheck.min.js') %>"></script>
<!--iron RangeSlider-->
<script src="<%= resourceUrl('/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js') %>" type="text/javascript"></script>

<!--dynamic table-->
<script src="<%= resourceUrl('/bower_components/datatables/media/js/jquery.dataTables.min.js') %>"></script>
<script src="<%= resourceUrl('/js/DT_bootstrap.js') %>"></script>

<script src="<%= resourceUrl('/js/scripts.js') %>"></script>

<script id="textDataTmpl" type="text/x-jsrender">
    <span>{{:data}}</span>
</script>

<script id="plainDataTmpl" type="text/x-jsrender">
{{:data}}
</script>

<script>
    var template = $.templates("#textDataTmpl");
    var plainTemplate = $.templates("#plainDataTmpl");
    $.ajax({
        url:'/api/project/<%= data.id %>',
        success:function(data){
            var htmlOutput = plainTemplate.render({data:JSON.parse(data).title});
            $("#load_title").html(htmlOutput);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            var data = {data:'<i class="fa fa-exclamation-triangle"></i>'};
            var htmlOutput = plainTemplate.render(data);
            $("#load_title").html(htmlOutput);
        }
    });
</script>