<!-- Core js-->
<script src="<%= resourceUrl('/bower_components/jquery/dist/jquery.js') %>"></script>
<script src="<%= resourceUrl('/js/jquery-ui/jquery-ui-1.10.1.custom.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/jsrender/jsrender.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/bootstrap/dist/js/bootstrap.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/jquery.scrollTo/jquery.scrollTo.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/slimScroll/jquery.slimscroll.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/jquery.nicescroll/jquery.nicescroll.min.js') %>"></script>

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="<%= resourceUrl('bower_components/flot/excanvas.min.js') %>"></script><![endif]-->
<!--flot chart -->
<script src="<%= resourceUrl('/bower_components/flot/jquery.flot.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/flot/jquery.flot.time.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/flot/jquery.flot.resize.js') %>"></script>
<script src="<%= resourceUrl('/bower_components/flot/jquery.flot.pie.js') %>"></script>

<!-- chart -->

<!--iCheck-->
<script src="<%= resourceUrl('/bower_components/iCheck/icheck.min.js') %>"></script>
<!--iron RangeSlider-->
<script src="<%= resourceUrl('/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js') %>" type="text/javascript"></script>

<!--dynamic table-->
<script src="<%= resourceUrl('/bower_components/datatables/media/js/jquery.dataTables.min.js') %>"></script>
<script src="<%= resourceUrl('/js/DT_bootstrap.js') %>"></script>

<script src="<%= resourceUrl('/js/dashboard.js') %>"></script>
<script src="<%= resourceUrl('/js/scripts.js') %>"></script>

<script id="textDataTmpl" type="text/x-jsrender">
    <span>{{:data}}</span>
</script>

<script id="plainDataTmpl" type="text/x-jsrender">
{{:data}}
</script>

<script>
    var template = $.templates("#textDataTmpl");
    var plainTemplate = $.templates("#plainDataTmpl");
    var b, s = -1;
    var err = false;
    $.ajax({
        url:'/api/project/<%= data.id %>/weekly/error',
        success:function(data){
            var htmlOutput = template.render(data);
            $("#load_crash").html(htmlOutput);
            b = data.data;
            updateRate();
        },
        error: function(jqXHR, textStatus, errorThrown) {
            var data = {data:'<i class="fa fa-exclamation-triangle"></i>'};
            var htmlOutput = template.render(data);
            $("#load_crash").html(htmlOutput);
            err = true;
        }
    });
    $.ajax({
        url:'/api/project/<%= data.id %>/weekly/session',
        success:function(data){
            var htmlOutput = template.render(data);
            $("#load_user").html(htmlOutput);
            s = data.data;
            updateRate();
        },
        error: function(jqXHR, textStatus, errorThrown) {
            var data = {data:'<i class="fa fa-exclamation-triangle"></i>'};
            var htmlOutput = template.render(data);
            $("#load_user").html(htmlOutput);
            updateRate();
            err = true;
        }
    });
    $.ajax({
        url:'/api/project/<%= data.id %>/sdk',
        success:function(data){
            var htmlOutput = template.render(data);
            $("#load_sdk").html(htmlOutput);
            updateRate();
        },
        error: function(jqXHR, textStatus, errorThrown) {
            var data = {data:'<i class="fa fa-exclamation-triangle"></i>'};
            var htmlOutput = template.render(data);
            $("#load_sdk").html(htmlOutput);
            updateRate();
            err = true;
        }
    });
    $.ajax({
        url:'/api/project/<%= data.id %>',
        success:function(data){
            var htmlOutput = plainTemplate.render({data:data.name});
            $("#load_title").html(htmlOutput);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            var data = {data:'<i class="fa fa-exclamation-triangle"></i>'};
            var htmlOutput = plainTemplate.render(data);
            $("#load_title").html(htmlOutput);
        }
    });
    function updateRate(){
        if(err == true){
            var data = {data:'<i class="fa fa-exclamation-triangle"></i>'};
            var htmlOutput = template.render(data);
            $("#load_rate").html(htmlOutput);
        }
        else if(b != -1 && s != -1 && err != true){
            if(s == 0){
                s=1;
            }
            var percent = (b/s*100).toFixed(1);
            var data = {data:percent+"%"};
            var htmlOutput = template.render(data);
            $("#load_rate").html(htmlOutput);
        }
    }
</script>