<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../header %>
    <script>
        urqaio.currentProject = '<%= data.id%>';
        urqaio.currentSection = '<%= data.section%>';
    </script>
</head>

<body>
<section id="container">
    <% include ./navibar %>
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <% if (0 == data.section) { %>
                        <a class="active" href="/dashboard/<%= data.id%>">
                            <% } else { %>
                            <a href="/dashboard/<%= data.id%>">
                                <% } %>
                                <i class="fa fa-dashboard"></i>
                                <span>Dashboard</span>
                            </a>
                    </li>
                    <li>
                        <% if (1 == data.section) { %>
                        <a class="active" href="/dashboard/<%= data.id%>/error">
                            <% } else { %>
                            <a href="/dashboard/<%= data.id%>/error">
                                <% } %>
                            <i class="fa fa-laptop"></i>
                            <span>Errors</span>
                        </a>
                    </li>
                    <li>
                        <% if (2 == data.section) { %>
                        <a class="active" href="/dashboard/<%= data.id%>/statistics">
                            <% } else { %>
                            <a href="/dashboard/<%= data.id%>/statistics">
                                <% } %>
                            <i class="fa fa-book"></i>
                            <span>Statistics</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-bullhorn"></i>
                            <span>Settings</span>
                        </a>
                        <ul class="sub">
                            <li class="active"><a href="/dashboard/<%= data.id%>/setting">General</a></li>
                            <li><a href="/dashboard/<%= data.id%>/setting/viewer">Viewer</a></li>
                            <li><a href="/dashboard/<%= data.id%>/setting/symbolicate">Symbolicate</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <%- include(mainContainer) %>
    <!--main content end-->

</section>

<!-- Placed js at the end of the document so the pages load faster -->

<!-- TODO:: grunt로 하나로 합치기 -->
<%- include(scriptContainer) %>

</body>

</html>
